{% extends 'base.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <div class="container sign-up">
        <h1><i class="fa-solid fa-key"></i> Password Reset</h1>
        <p>Type in the email address you have with us below. If it matches our records, you'll recieve an email for resetting your password.</p>
        <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Reset" class="btn btn-dark btn-lg create-post">
        </form>
        <br>
        <p>Wait, I think I remember it.  <a href="{% url 'login' %}" class="btn btn-outline-dark btn-sm"><i class="fa-solid fa-arrow-right-to-bracket"></i>  Login</a> </p>
    </div>
{% endblock content %}