{% extends 'base.html' %}

{% block title %}
    Change Passwsord
{% endblock %}

{% block content %}
    <div class="password-change">
        <h1><i class="fa-solid fa-key"></i> Password Change</h1>
        <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
        <form method='POST'>
            {% csrf_token %}
            <!-- as paragraph tags that render all the form fields with their respctive lables -->
            {{ form.as_p }}
            <input type="submit" value="Change Now" class="btn btn-dark btn-lg" id="change-pass">
        </form>
    </div>
{% endblock content %}
 