{% extends 'base.html' %}

{% block title %}
    Issues
{% endblock title %}

{% block content %}
<ul>
    {% if issue_list %}
    <h1>All Tasks</h1>

    {% for issue in issue_list %}


    <div class="card box">
        <div id="status">
            <strong> {{ issue.title }} </strong>
            <h6 class="card-subtitle mb-2 ">( {{ issue.summary }} )</h6>
        </div>
        <div class="card-body">

            <div><strong>Created by:</strong> <a href="{% url 'user_profile' user.id %}"> {{ issue.requester }} </a><strong> On:</strong> {{ issue.created_on }}</div>
            <strong>Assigned to:</strong>  <a href="#">{{ issue.assignee }}</a>
            <div><strong>Status:</strong> {{ issue.status }}</div>
            <hr>
            <p></p>
            <p class="card-text">{{ issue.description|truncatechars:350 }}</p> {# There are more filters out there! #}
                <div class="author-options">
                    {% if user == issue.assignee and user != issue.requester or user.role == 'Manager' or user.is_superuser or user == issue.requester and issue.requester != issue.assignee %}
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fa-regular fa-message"></i>
                    </a>
                    {% endif %}

                    {% if user.role == 'Agent' and issue.assignee == None %}
                    <a href="{% url 'issue_work' issue.id %}" class="btn btn-primary btn-sm">
                        Work Task</i>
                    </a>
                    {% endif %}

                    {% if user == issue.requester or user.is_superuser%}
                    <a href="{% url 'delete' issue.id %}" class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-dumpster"></i>
                    </a>
                    <a href="{% url 'edit' issue.id %}" class="btn btn-success btn-sm">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'issue_detail' issue.id %}" class="btn btn-dark btn-sm">
                        More
                    </a>
                    {% else %}
                    <a href="{% url 'issue_detail' issue.id %}" class="btn btn-dark btn-sm">
                        More
                    </a>
                    {% endif %}


                </div>
        </div>
    </div>
    <br />
    {% endfor %}
    {% else %}
    <h1>Oh, yay!</h1>
    <h1>Currently no tasks!</h1>
    {% endif %}
</ul>
{% endblock content %}
