{% extends 'base.html' %}

{% block title %}
    Details
{% endblock title %}

{% block content %}
    <p></p>

    <div class="card box">
        <div id="status">
            <strong> {{ issue.title }} </strong>
            <h6 class="card-subtitle mb-2 ">( {{ issue.summary }} )</h6>
        </div>
        <div class="card-body">

            <div><strong>Created by:</strong> <a href="{% url 'user_profile' user.id %}"> {{ issue.requester }} </a><strong> On:</strong> {{ issue.created_on }}</div>
            <strong>Assigned to:</strong>  <a href="#">{{ issue.assignee }}</a>
            <div><strong>Status:</strong> {{ issue.status }}</div>
            <hr>
            <p></p>
            <p class="card-text">{{ issue.description}}</p> {# There are more filters out there! #}
                <div class="author-options">
                    {% if user == issue.assignee %}
                    <a href="#" class="btn btn-sm btn-primary">
                        <i class="fa-regular fa-message"></i>
                    </a>
                    {% endif %}
                    {% if user == issue.requester %}
                    <a href="{% url 'delete' issue.id %}" class="btn btn-danger btn-sm">
                        <i class="fa-solid fa-dumpster"></i>
                    </a>
                    <a href="{% url 'edit' issue.id %}" class="btn btn-success btn-sm">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    {% endif %}

                </div>
        </div>
    </div>


{% endblock content %}